.assign{
    >a>p:hover{
        color:  #2A8356;
    }
}
.admin-modle-image{
    width: 140px;
    height: 140px;
}
.bd-top-0{
    border-top: 2px solid white;
}
.page-link{
    border: 1px solid #2A8356 !important;
}
.page-link:hover{
    background-color: #2A8356 !important;
    color: white !important;
}